body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor:default;
}

.box {
    background: white;
    padding: 60px;
    border-radius: 16px;
    text-align: center;
    max-width: 500px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    color: var(--azul-escuro);
    margin-bottom: 20px;
}

.impacto {
    color: var(--coral);
    font-weight: bold;
    margin: 20px 0;
    font-size: 20px;
}

.btn-voltar {
    padding: 12px 24px;
    cursor: pointer;
}