:root {
    --azul-escuro: #1b325f;
    --azul-medio: #3a89c9;
    --azul-claro: #9cc4e4;
    --fundo: #e9f2f9;
    --coral: #f26c4f;
}

html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: var(--fundo);
}

.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background: var(--azul-escuro);
    color: white;
    padding: 30px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 20px 0;
}

.content {
    flex: 1;
    padding: 40px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

input,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-azul {
    background: var(--azul-medio);
    color: white;
}

.btn-coral {
    background: var(--coral);
    color: white;
}