/* ===== HEADER ===== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    border: 8px solid transparent;
    font-weight: bold;
}

.btn-login {
    background: var(--coral);
    padding: 8px 16px;
    border-radius: 8px;
}
.btn-login:hover{
    background-color: #f1f1f1;
    color: var(--coral);
}
.btn-login:active{
    background-color: #3a89c9;
    color: var(--azul-escuro);
}

.nav:hover{
    text-decoration: underline solid white 3px;
}
.nav:active{
    color: var(--coral);
}

.ir:hover {
    color: var(--coral);
    text-decoration: underline solid var(--coral) 3px;
}
/* ===== HERO ===== */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
}

.hero-text {
    max-width: 500px;
}

.hero h1 {
    font-size: 48px;
    color: var(--azul-escuro);
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* ===== COMO FUNCIONA ===== */
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px;
}

.card {
    background: white;
    padding: 30px;
    width: 250px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-bottom: 15px;
    color: var(--azul-escuro);
}

/* ===== DASHBOARD ===== */
.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background: var(--azul-escuro);
    color: white;
    padding: 30px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

.sidebar a:hover {
    color: var(--azul-claro);
}

.content {
    flex: 1;
    padding: 40px;
    background: var(--fundo);
}

.kpis {
    display: flex;
    gap: 20px;
}

.kpi-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.kpi-card h4 {
    margin-bottom: 10px;
}

.kpi-card span {
    font-size: 28px;
    font-weight: bold;
    color: var(--coral);
}

/* ===== LOJA ===== */
.produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.produto {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.produto img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.produto h5 {
    margin-bottom: 5px;
}

.preco {
    color: var(--coral);
    font-weight: bold;
    margin-bottom: 10px;
}