html {
    scroll-behavior: smooth;
}
* {}
@view-transition {
    navigation: auto;
}

::view-transition-old(root) {
    animation: fade-out 0.3s ease forwards;
}

::view-transition-new(root) {
    animation: fade-in 0.3s ease forwards;
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

:root {
    --azul-escuro: #1b325f;
    --azul-medio: #3a89c9;
    --fundo: #e9f2f9;
    --coral: #f26c4f;
}

body {
    margin: 0;
    font-family: Arial;
    background: var(--fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input,
select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background: var(--azul-medio);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}