:root {
    --azul-escuro: #1b325f;
    --azul-medio: #3a89c9;
    --azul-claro: #9cc4e4;
    --fundo: #e9f2f9;
    --coral: #f26c4f;
}

html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

@view-transition {
    navigation: auto;
}

/* Página antiga saindo */
::view-transition-old(root) {
    animation: fade-out 0.3s ease forwards;
}

/* Página nova entrando */
::view-transition-new(root) {
    animation: fade-in 0.3s ease forwards;
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    background: var(--fundo);
}
.voltar-container {
    width: 90%;
    max-width: 1100px;
    margin: 20px auto 0;
}

.btn-voltar {
    display: inline-block;
    background-color: #3a89c9;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-voltar:hover {
    background-color: #f26c4f;
}

.container {
    max-width: 1100px;
    margin: 80px auto;
    display: flex;
    gap: 50px;
}

.img-box img {
    width: 400px;
    border-radius: 12px;
}

.info {
    flex: 1;
}

h1 {
    color: var(--azul-escuro);
    margin-bottom: 20px;
}

.preco {
    color: var(--coral);
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.badge {
    background: var(--azul-claro);
    padding: 8px 12px;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 20px;
}

button {
    padding: 14px 30px;
    background: var(--azul-medio);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}