/* ==========================
   CONFIGURAÇÕES GLOBAIS
========================== */

html {
    scroll-behavior: smooth;
}

:root {
    --azul-escuro: #1b325f;
    --azul-medio: #3a89c9;
    --azul-claro: #9cc4e4;
    --fundo: #e9f2f9;
    --coral: #f26c4f;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--fundo);
    color: var(--azul-escuro);
    line-height: 1.6;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

/* ==========================
   HEADER
========================== */
header {
    background-color: var(--azul-escuro);
    color: white;
    padding: 20px 60px;
    text-align: center;
}

header h1 {
    margin-bottom: 5px;
}

/* ==========================
   CONTAINER PADRÃO
========================== */
.container {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
}

/* ==========================
   CARDS PADRÃO
========================== */
.card {
    background: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* ==========================
   BOTÕES PADRÃO
========================== */
.btn {
    background-color: var(--azul-medio);
    color:white;
    border: 1px solid var(--azul-escuro);
    display: inline-block;
    padding: 10px 18px;
    margin: 20px 0;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--coral);
    border: none;
    padding: 11px 19px;
}

.btn-primary {
    background-color: var(--azul-medio);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
}

.btn-primary:hover {
    background: var(--coral);
    color: white;
    padding: 13px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn-secondary {
    background: transparent;
    border: 2px solid var(--azul-medio);
    color: var(--azul-medio);
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: var(--coral);
    border: none;
    color: white;
    padding: 13px 24px;
    transition: 0.5s;
    margin: -1px;
    font-weight: bold;
}

/* ==========================
   FORMULÁRIOS PADRÃO
========================== */
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: var(--azul-medio);
}

/* ==========================
   BOTÃO VOLTAR PADRÃO
========================== */
.voltar-container {
    width: 90%;
    max-width: 1100px;
    margin: 20px auto 0;
}

.btn-voltar {
    display: inline-block;
    background-color: var(--azul-medio);
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-voltar:hover {
    background-color: var(--coral);
}

/* ==========================
   FOOTER
========================== */
footer {
    margin-top: 40px;
    background-color: var(--azul-escuro);
    color: white;
    text-align: center;
    padding: 15px;
}

/* ==========================
   RESPONSIVIDADE
========================== */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}

@view-transition {
    navigation: auto;
}
::view-transition-new(root) {
    animation: fade-in 0.3s ease, slide-in 0.3s ease;
}
::view-transition-old(root) {
    animation: fade-out 0.3s ease, slide-out 0.3s ease;
}
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes slide-out {
    from { transform: translateY(0); }
    to { transform: translateY(-10px); }
}
