/* ===== RESET ===== */
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

@view-transition {
    navigation: auto;
}

/* Página antiga saindo */
::view-transition-old(root) {
    animation: fade-out 0.3s ease forwards;
}

/* Página nova entrando */
::view-transition-new(root) {
    animation: fade-in 0.3s ease forwards;
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ===== PALETA ===== */
:root {
    --azul-escuro: #1b325f;
    --azul-medio: #3a89c9;
    --azul-claro: #9cc4e4;
    --fundo: #e9f2f9;
    --coral: #f26c4f;
}

/* ===== GERAL ===== */
body {
    background: var(--fundo);
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

/* ===== HEADER ===== */
header {
    background: var(--azul-escuro);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    border: 8px solid transparent;
    font-weight: bold;
}

.btn-login {
    background: var(--coral);
    padding: 8px 16px;
    border-radius: 8px;
}
.btn-login:hover{
    background-color: #f1f1f1;
    color: var(--coral);
}
.btn-login:active{
    background-color: #3a89c9;
    color: var(--azul-escuro);
}

.nav:hover{
    text-decoration: underline solid white 3px;
}
.nav:active{
    color: var(--coral);
}

.ir:hover {
    color: var(--coral);
    text-decoration: underline solid var(--coral) 3px;
}
/* ===== HERO ===== */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
}

.hero-text {
    max-width: 500px;
}

.hero h1 {
    font-size: 48px;
    color: var(--azul-escuro);
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-primary {
    background: var(--azul-medio);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
}

.btn-primary:hover {
    background: var(--coral);
    color: white;
    padding: 13px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 8px;
    transition: 0.5s;
}

.btn-secondary {
    background: transparent;
    border: 2px solid var(--azul-medio);
    color: var(--azul-medio);
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-secondary:hover {
    border: 2px solid var(--coral);
    color: var(--coral);
    padding: 13px 24px;
    transition: 0.5s;
    margin: -1px;
}

/* ===== COMO FUNCIONA ===== */
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px;
}

.card {
    background: white;
    padding: 30px;
    width: 250px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-bottom: 15px;
    color: var(--azul-escuro);
}

/* ===== DASHBOARD ===== */
.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background: var(--azul-escuro);
    color: white;
    padding: 30px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

.sidebar a:hover {
    color: var(--azul-claro);
}

.content {
    flex: 1;
    padding: 40px;
    background: var(--fundo);
}

.kpis {
    display: flex;
    gap: 20px;
}

.kpi-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.kpi-card h4 {
    margin-bottom: 10px;
}

.kpi-card span {
    font-size: 28px;
    font-weight: bold;
    color: var(--coral);
}

/* ===== LOJA ===== */
.produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.produto {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.produto img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.produto h5 {
    margin-bottom: 5px;
}

.preco {
    color: var(--coral);
    font-weight: bold;
    margin-bottom: 10px;
}