html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e9f2f9;
}

@view-transition {
    navigation: auto;
}

/* Página antiga saindo */
::view-transition-old(root) {
    animation: fade-out 0.3s ease forwards;
}

/* Página nova entrando */
::view-transition-new(root) {
    animation: fade-in 0.3s ease forwards;
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
header {
    background-color: #1b325f;
    color: white;
    padding: 20px;
    text-align: center;
}

.voltar-container {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto 0;
}

.btn-voltar {
    display: inline-block;
    background-color: #3a89c9;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-voltar:hover {
    background-color: #f26c4f;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

.card {
    background: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

h2 {
    color: #1b325f;
    margin-top: 0;
}

.highlight {
    color: #f26c4f;
    font-weight: bold;
}

.socios {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.socio-card {
    flex: 1;
    min-width: 250px;
    background: #9cc4e4;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.socio-card h3 {
    margin-top: 0;
    color: #1b325f;
}

footer {
    margin-top: 40px;
    background-color: #1b325f;
    color: white;
    text-align: center;
    padding: 15px;
}